.basketItem {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffb735;
  }
  .basketItemInfo {
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .basketItemInfo > button {
    background: #ffb735;
    border: 1px solid;
    margin-top: 10px;
    border-color: #1f00df;
    color: black;
    border-radius: 15px;
  }
  
  .basketItemImage {
    padding: 10px;
    object-fit: contain;
    width: 180px;
    height: 180px;
  }
  
  .basketItemTitle {
    font-size: 17px;
    font-weight: 800;
  }
  