.chat{
  flex: 0.7;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 150px;
}
.chatHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #ffb735;

}
.chatChannelName{
  display: flex;
  text-transform: lowercase;
}

