.checkout{
    display: flex;
    background-color:white;
    padding: 10px;
    height: max-content;
   color: black;
   overflow-y: scroll;

}
.checkoutTitle{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 2px solid #1f00df;
}