 .checkout{
    display: flex;
    background-color:white;
    padding: 10px;
    height: max-content;
   color: black;

}
.checkoutTitle{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 2px solid lightgoldenrodyellow;
}