.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0;
  background-color: #ffb735;
  position: sticky;
}
.headerLeft {
  flex: 0.3;
  display: flex;
  align-items: center;
  padding: 15px;
  margin-left: 10px;
  color: blue;
}
.headerIcons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: blue;
  padding-left: 10px;
  padding-right: 10px;
}

.headerCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  color: blue;
}
.headerLogo {
  width: 100px;
  object-fit: contain;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 20px;
}
