.payment {
  background: white;
  scroll-behavior: auto;
}
.paymentContainer > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: #ffb735;
  border-bottom: 3px solid#1f00df;
}
.paymentContainer > h1 a {
  text-decoration: none;
}

.paymentSection {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid #ffb735;
}
.paymentTitle {
  flex: 0.2;
  padding: 10px;
}
.paymentItems {
  flex: 0.8;
}
.paymentAddress, .paymentItems, .paymentDetails {
  flex: 0.8;
}
