.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}
.sidebarSearch {
  display: flex;
  align-items: center;
  background-color: white;
}
.searchContainer {
  display: flex;
  align-items: center;
  height: 20px;
  padding: 10px;
}
.searchContainer > input {
  border: none;
  margin-left: 10px;
}
.sidebarHeader {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-right: 2px solid #1f00df;
}
.sidebarHeaderRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}
 .sidebarHeaderRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}
