.sidebarPanel {
  display: flex;
  font-size: 12px;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  cursor: pointer;
}
.sidebarPanel:hover {
  background-color: #ffb735;
  color: black;
}
.sidebarPanel > h3 {
  font-weight: 500;
}
.SidebarPanelIcon {
  padding: 10px;
  font-size: 15px !important;
}
.sidebarPanelChanel {
  padding: 10px 0;
}
.SideBarPanelStar {
  padding: 10px;
}
.sidebar > hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffb735;
}
